.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
    margin: auto;
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: block;
    padding: 12px 30px;
    background: #3f51B5ff;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    margin: auto;
    width: fit-content;
    transform: translate(0%, 400%);
    -webkit-transform: translate(0%, 400%);
    -moz-transform: translate(0%, 400%);
    -ms-transform: translate(0%, 400%);
    -o-transform: translate(0%, 400%);
}

.container p{
    margin-top: -7%;
}

.upload-label:hover{
    background: #34495E;
    color: #39D2B4;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.logo-img{
    display: flex;
    max-height: 30px;
    justify-content: space-between;
}

.logo-img .zag-contain{
    max-width: 250px;
}

.logo-img .zag{
    max-width: 20%;
}

.logo-img .fci{
    max-width: 45px;
}

.logo-img div:nth-child(2){
    position: absolute;
    right: 2%;
}

.bg-dark {
    background-color: #3f51B5ff!important;
    max-height: 65px;
}

.navbar-brand{
    transform: translate(0px,-20px);
    -webkit-transform: translate(0px,-20px);
    -moz-transform: translate(0px,-20px);
    -ms-transform: translate(0px,-20px);
    -o-transform: translate(0px,-20px);
    line-height: 1.5;
    margin: auto;
    text-align: center;
}

@media (max-width:460px){
    .logo-img .fci{
        min-width: 40px !important;
    }
    .container p{
        font-size: medium;
    }
    .res h3{
        font-size: large;
    }
}
@media (max-width:360px){
    .container p{
        font-size: small;
    }
}
@media (min-width:640px) and (max-width : 750px ){
    .logo-img .fci{
        max-width: 40px ;
    }
}
@media (max-width:640px){
    .logo-img .fci{
        max-width: 40px ;
    }
}

.loader {
    margin: auto;
}

.btn-div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-pred{
    text-emphasis-color: white;
    background-color: #3f51B5ff;
}

.res {
    color: #f3f3f3;
    border-radius: 10px;
    margin: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px 15px;
    margin-top: 50px;
    width: fit-content;
}
.result-yes {
    background-color: #950a0a;
}
.result-no {
    background-color: green;
}